@charset "UTF-8";

/* Base Styles */
body {
  background: #000;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Button link styles */
a:link,
a:visited,
#learn_more_button {
  background-color: #2d2d2d;
  color: #e9e5e4;
  border: 3px solid #f87500;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 0; /* Initially hidden */
  animation: fade-in 1s ease-in-out forwards; /* Fade in animation */
  animation-delay: 3s; /* 4 second delay before starting the animation */
}

a:hover,
a:active,
#learn_more_button:hover,
#learn_more_button:active {
  background-color: #f87500;
  color: #e9e5e4;
  border: 3px solid #2d2d2d;
}

/* Keyframes for fade-in animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main Content Styles */
#eveos_main {
  color: #f87500;
  font-family: Monaco, monospace;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progress_section,
#content_section {
  display: flex;
  justify-content: center;
  width: 100%;
}

#divAnimation {
  animation: 2s infinite normal divAnimation;
  display: inline-block;
}

#colorChange {
  color: #2d2d2d;
  display: inline-block;
}

/* Scanlines Overlay */
.overlay {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
}

.overlay:before {
  background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.1) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.01), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.01));
  background-size: 100% 3px, 6px 100%;
  content: "";
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.overlay:after {
  animation: flicker 0.3s infinite;
  background: rgba(248, 117, 0, 0.02);
  content: "";
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.scanline {
  animation: scroll 10s 5s infinite;
  background: linear-gradient(to bottom, rgba(0, 221, 0, 0) 0%, rgba(221, 103, 0, 0.05) 50%, rgba(0, 221, 0, 0) 100%);
  display: block;
  height: 20px;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: -5%;
  z-index: 2;
}

/* Glitch Effect Styles */
.glitch {
  color: #f87500;
  font-size: 9vw;
  animation: glitch 5s 5s infinite;
  position: relative;
  margin: 70px 0; /* Adjust margins as needed */
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: relative;
  left: -2px;
  text-shadow: -5px 0 rgb(0, 0, 0);
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 rgb(255, 123, 0);
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  30% {
    clip-path: inset(20px 0 80px 0);
  }
}

@keyframes noise-2 {
  30% {
    clip-path: inset(30px 0 70px 0);
  }
}

/* Typewriter animation */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid orange;
  position: relative;
  animation: typing 3s steps(30, end), blinkCursor 0.7s infinite step-end;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  0%,
  100% {
    border-color: transparent;
    content: "█";
  }
  50% {
    border-color: orange;
    content: "█";
  }
}

/* Glitch text animation */
.glitch-text {
  animation: glitch-text 0.1s infinite;
}

@keyframes glitch-text {
  0% {
    transform: translate(-1px, -1px);
  }
  25% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, 0);
  }
  75% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(-1px, 1px);
  }
}
