.key, button {
  border: 1px solid currentColor;
  border-radius: 5px;
  display: inline-block;
  padding: 0.8em;
}

body {
  color: #ffffff;
  font-family: "Press Start 2P", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  display: block;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

ul {
  margin-bottom: 2rem;
}

li {
  color: #ff9d00;
  font-size: 0.8rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}

button {
  appearance: none;
  background-color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  padding: 0.7em 0.85em 0.6em 1em;
  text-transform: uppercase;
  transition: color 0.2s linear, background-color 0.2s linear;
}
button:focus, button:hover {
  background-color: black;
  color: #ff9d00;
  transition-duration: 0.07s;
}

.dialogue {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transform: translateX(0);
}

.dialogue--hidden {
  opacity: 0;
  transform: translateX(-100vw);
  transition: opacity 0.3s linear 0s, transform 0s linear 0.3s;
}

.dialogue__content {
  max-width: 31.25rem;
  padding: 18px;
}

.key {
  border-color: white;
  color: white;
}

.key--arrow {
  font-size: 1.8rem;
  padding: 0.35em 0.1em 0.6em;
  position: relative;
  line-height: 0.3;
  top: 0.05em;
}

.hud {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  left: 0;
  opacity: 1;
  padding: 1rem;
  position: fixed;
  top: 0;
  transition: opacity 0.07s linear 0.5s;
  width: 100%;
}

.hud--hidden {
  opacity: 0;
}

.hud__score {
  margin: 0;
}